.btn {
    background-color: #62A87C;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.btn:hover {
    transform: scale(1.1);
    transform: translateY(2px);
    background-color: #4c9a68;
}

.btn:enabled:active {
    transform: scale(1);
    transform: translateY(10);
    background-color: #3f7d56;
}