/* Footer */
/* .footer {
    background-color: #373b3b;
    color: white;
    padding: 3rem 0;
} */



/* Footer ajusté */
.footer {
    background-color: #373b3b;
    color: white;
    padding: 1.5rem 0; /* Réduit la hauteur du padding */
    text-align: center;
    position: relative; /* Pas de position absolue */
}




