.container {
    display: flex; /* Active Flexbox */
    justify-content: space-around; /* Espacement égal entre les divs */
    align-items: flex-start; /* Aligne les divs en haut */
    flex-wrap: wrap; /* Permet le retour à la ligne si l'écran est trop petit */
    margin: 20px auto;
    max-width: 1200px; /* Ajustez selon vos besoins */
}

.perso, .addresse, .commande {
    flex: 1; /* Les divs occupent un espace égal */
    margin: 10px; /* Ajoutez un peu d'espacement entre les divs */
    max-width: 30%; /* Limite la largeur de chaque div */
    box-sizing: border-box; /* Inclut les bordures dans la largeur */
    border: 3px solid black;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

h2 {
    text-align: center;
}

.userTable {
    width: 100%;
    border-spacing: 10px; 
}

.userInfo, .userValue {
    word-wrap: break-word; 
}

.userInfo{
    color: rgb(2, 164, 21);
}

@media (max-width: 768px) {
    .perso, .addresse, .commande {
        max-width: 100%;
    }
    .container {
        flex-direction: column; 
    }
}

@media (max-width: 480px) {
    .perso {
        width: 100%; 
        padding: 10px; 
    }

    .userInfo, .userValue {
        font-size: 12px; 
    }
}





/* CSS global pour fixer le footer en bas */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Assurez-vous que html et body occupent toute la hauteur */
    display: flex;
    flex-direction: column; /* Utilisez Flexbox pour structurer les enfants */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Écarte le contenu et place le footer en bas */
}

.main-content {
    
    flex: 1; /* Permet au contenu principal d'occuper l'espace restant */
}


a.button, .button-mod, .button-supr {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(2, 164, 21);
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, transform 0.2s;
}

a.button-supr {
    background-color: red;
}
a.button:hover , .button-mod:hover, .button-supr:hover{
    color: black;
    transform: scale(1.05);
}
