body {
    font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.add-to-cart {
    width: 100%;
    background-color: #333;
    border: none;
}


.add-to-cart:hover {
    background-color: #222;
}

/* Style du prix du produit */
.price {
    color: #62A87C;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Couleur du nom du produit */
.card-title {
    color: black;
}