.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

.page-item.disabled .page-link {
    color: gray;
}

.page-link {
    cursor: pointer;
}

.bg-primary{
    background-color: #4c9a68;
}